html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.main {
  color: lighten(grey, 25%);
  background-color: lighten(skyblue, 60%);
  overflow-x: scroll;
  overflow-y: hidden;
}

.main::-webkit-scrollbar{
  display: none;
}

.items {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
  background-color: white;

  
}


.items::-webkit-scrollbar{
  display: none;
}

.items.active {
  background: rgba(255, 255, 255, 0.171);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}



.item {
  display: inline-block;
  min-width: 150px;
  margin: 2em, 0em;
}

.item img {
  height: 2rem;
}